
.nav-bar {
  display: flex;
  padding: 5% 0% 0% 0%;
  justify-content: space-around;
}
.nav-bar * {
  flex: 1;
  margin: 1%;
  padding: 3%;
  font-size: 24px;
  text-decoration: none;
  color: #fdfdfd;
  background-color: #032b2f;
  border-radius: 10px;
  max-width: 180px;
}
