.banner-wrapper {
}
.banner {
  padding: 3%;
  color: white;
}
.banner * {
}
.name-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-img * {
  margin: 2%;
}
.name-img img {
  border-radius: 50%;
  height: 200px;
  border: 7px solid var(--off-white);
}
/* DESKTOP VIEW */
@media only screen and (min-width:500px) {
  .banner h1 {
    font-size: 70px;
  }
  .banner h2 {
    font-size: 55px;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width:500px) {
  .banner h1 {
    font-size: 60px;
  }
  .banner h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .name-img {
    flex-direction: column;
  }
}
