.about-me {
  text-align: left;
  max-width: 600px;
  margin: 5% auto;
  font-size: 20px;
  background: var(--nav-color); 
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--off-black);
}
