@font-face {
  font-family: 'Pacifico';
  src: url('../../fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Norican';
  src: url('../../fonts/Norican-Regular.ttf');
}

html, body, #root {
  height:100%;
  margin:0;
  text-align:center;
  background-color:#fafafa;
}

.max-width {
  margin:auto;
  max-width:960px;
}
.top-pad {
  padding-top:8%;
}

.fail {
  color:red;
}

.success {
  color:green;
}
