:root {
  --off-black: #2b2b2b;
  --off-white: #fdfdfd;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'RockSalt';
  src: url('../../fonts/RockSalt-Regular.ttf');
}
html, body, #root {
  height: 100%;
  margin: 0;
  text-align: center;
  overflow: auto;
  font-family: Roboto;
}
body {
  background: url(../../../../imgs/palm.jpg) no-repeat center;
}
.max-width {
  margin: auto;
  max-width: 960px;
  box-sizing: border-box;
}
.pad {
  padding: 3%;
}
.page-wrapper {
  padding: 3% 5%;
  box-sizing: border-box;
}
.bottom {
  height: 200px;
}
