.project {
  display: flex;
  overflow: hidden;
  margin: 5%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--off-black);
}
.project > div:nth-child(2) {
  background: var(--nav-color);
  color: white;
}
.project a {
  text-decoration: none;
  padding: 2%;
  color: #2EC0F9;
  font-size: 16px;
}
.project * {
  flex: 1;
}
.project-pix {
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-pix a {
  text-decoration: none;
  position: relative;
  text-align: center;
  top: 40%;
  background-color: black;
  color: white;
  padding: 3%;
  font-size: 18px;
  margin: auto;
}
.project li {
  padding: 2%;
}
.project ul {
  text-align: left;
}

/* DESKTOP VIEW */

@media only screen and (min-width: 700px) {
  .project {
  }
}

/* MOBILE VIEW */

@media only screen and (max-width: 700px) {
  .project {
    flex-direction: column;
    border-bottom: 1px solid #032b2f;
  }
}
